/scripts/env_setup.sh
/.idea/
/my-aws.iml
/terraform/c1-providers.tf
/terraform/.terraform/
/terraform/my.tfplan
/terraform-playground/c1-providers.tf
/terraform-vpc-eks/c1-providers.tf
/terraform-vpc-eks/.terraform/
/terraform-vpc-eks/my.tfplan
/scripts/private-key/eks-terraform-key.pem
/tmp/
/eks/aws-auth-ue1.yaml
/eks/aws-auth-uw2.yaml
