/scripts/env_setup.sh
/.idea/
/my-aws.iml
/terraform/c1-providers.tf
/terraform/.terraform/
/terraform/my.tfplan
/terraform-playground/c1-providers.tf
/terraform-vpc-only/c1-providers.tf
/terraform-vpc-only/.terraform/
/terraform-vpc-only/my.tfplan
