apiVersion: v1
kind: Service
metadata:
  name: my-service
  namespace: default
spec:
  selector:
    app: my-app
  type: NodePort
  ports:
    - protocol: TCP
      port: 8080       # Service port
      targetPort: 8080  # Container port
      nodePort: 30080   # Node port (must be in range 30000-32767)
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
      version: v1
  template:
    metadata:
      labels:
        app: my-app
        version: v1
    spec:
      containers:
        - image: islandrabbit2024/eksistiodemo:latest
          imagePullPolicy: Always
          name: my-app
          env:
            - name: SERVICE
              value: my-app
            - name: VERSION
              value: v1
          ports:
            - name: http
              containerPort: 8080
